<div id="<%= dom_id request_donation %>">
  <p>
    <strong>Campaign name:</strong>
    <%= request_donation.campaign_name %>
  </p>

  <p>
    <strong>Campaign id:</strong>
    <%= request_donation.campaign_ID %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= request_donation.description %>
  </p>

  <p>
    <strong>Target amount:</strong>
    <%= request_donation.target_amount %>
  </p>

  <p>
    <strong>Total raised:</strong>
    <%= request_donation.total_raised %>
  </p>

  <p>
    <strong>Campaign enddate:</strong>
    <%= request_donation.campaign_enddate %>
  </p>

</div>
