<div id="<%= dom_id donation %>">
  <p>
    <strong>Name:</strong>
    <%= donation.name %>
  </p>

  <p>
    <strong>Campaign id:</strong>
    <%= donation.campaign_ID %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= donation.amount %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= donation.comment %>
  </p>

</div>
